.faculty{
    width: 95%;

    margin: 0 auto;
    margin-top: 50px;

    height: 105px;

    display: flex;
    align-items: end;

    /* background-image: url("../../../assets/isip2.jfif"); */
    background-size: cover;
    background-position: 90%;
}

.faculty h1{
    font-size: 24px;
    font-weight: 500;

    box-sizing: border-box;
    padding: 0 0 10px 10px;   
}
