.main{
    width: 70%;
    height: fit-content;
}

.news{
    box-sizing: border-box;
    padding: 0 100px;

    height: 540px;

    margin-top: 90px;
}

.line{
    height: 3px;
    width: 100%;

    border-radius: 3px;

    background-color: #FF7A00;
}

.line.s{
    margin-top: 20px;
}

.line.f{
    margin-bottom: 20px;
}

.line.t{
    width: 60%;
    margin: 0 auto;
    margin-top: 90px;
}

.news p{
    margin-top: 50px;

    text-align: center;

    font-size: 22px;
}

.faculties{
    display: flex;
    flex-direction: column;

    gap: 30px;
}

.pressed_links{
    height: 500px;
    width: 100%;
    padding: 5% 10%;

    box-sizing: border-box;


    display: flex;
    flex-direction: column;
    gap: 50px;

    text-align: center;
}

.pressed_links a{
    font-size: 28px;

    text-decoration: underline;

    color: white;
}