{% load static %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Появился новый экамен!</title>
</head>
<!--    Не забыть подвязать ссылку на сам экзамен   -->
<body>
    <h1 style="color: red;">У вас новый экзамен!</h1>
    <h2>"{{ exam_title }}" от {{ author_name }} {{ author_surname }} был создан. Успейте пройти.</h2>
    <div>
        <h3>С {{ exam_start_time }} до {{ exam_end_time }}.</h3>
        <p>Продолжительность экзамена: {{ exam_time }} минут.</p>
    </div>
</body>
</html>