.main{
    background-color: #313131;

    width: 70%;
    height: 100vh;
}

.news{
    box-sizing: border-box;
    padding: 0 100px;

    height: 250px;

    margin-top: 90px;
}

.line{
    height: 3px;
    width: 100%;

    border-radius: 3px;

    background-color: #FF7A00;
}

.line.s{
    margin-top: 20px;
}

.line.f{
    margin-bottom: 20px;
}

.news p{
    margin-top: 50px;

    text-align: center;

    font-size: 22px;
}